<div>
  <mat-tab-group>
    <mat-tab label="Promote">
      <mat-selection-list #promoteList>
        <mat-list-option *ngFor="let user of promotedUsers" [value]="user">
          {{ user.username }}
        </mat-list-option>
      </mat-selection-list>
      <button mat-raised-button color="primary" (click)="promoteSelected(promoteList.selectedOptions.selected)">
        Promote Selected
      </button>
    </mat-tab>
    <mat-tab label="Demote">
      <mat-selection-list #demoteList>
        <mat-list-option *ngFor="let user of demotedUsers" [value]="user">
          {{ user.username }}
        </mat-list-option>
      </mat-selection-list>
      <button mat-raised-button color="warn" (click)="demoteSelected(demoteList.selectedOptions.selected)">
        Demote Selected
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
