<script src="../../app.module.ts"></script>
<div>
  <button mat-button *ngIf="isUserAdmin()" (click)="navigateToAddAdditional()">
    <mat-icon>add</mat-icon>
    <span>New Additional</span>
  </button>
  <button mat-button *ngIf="isUserAdmin()" (click)="navigateToListAdditionals()">
    <mat-icon>list</mat-icon>
    <span>List Additionals</span>
  </button>
  <button mat-button  (click)="navigateToListReservations()">
    <mat-icon>list</mat-icon>
    <span>List Reservations</span>
  </button>
  <button mat-button *ngIf="isUserAdmin()" (click)="navigateToUsersReservationList()">
    <mat-icon>list</mat-icon>
    <span>List Reservations of User</span>
  </button>
  <button mat-button (click)="navigateToAddReservation()">
    <mat-icon>add</mat-icon>
    <span>New Reservation</span>
  </button>
  <button mat-button *ngIf="isUserAdmin()" (click)="navigateToHandleUserPermissions()">
    <mat-icon>manage_accounts</mat-icon>
    <span>Manage User Permissions</span>
  </button>
</div>
