.additional-item {
  display: flex;
  flex-wrap: wrap;
  border: #454B5F solid 3px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

p{
  font-style: oblique;
  text-transform: capitalize;
  margin-left: 30%;
}

.name{
  font-weight: bold;
}

.attribute {
  flex: 1;
  margin-right: 10px; /* Adjust the spacing between attributes as needed */
}

button{
  background-color: transparent;
  border: #67708E solid 2px;
}

button:hover{
  background-color: #67708E ;
  transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
  color:white;
}

.delete-button{
  border: #f44336 solid 2px;
  color: #f44336;
}

.delete-button:hover{
  background-color: #f44336 ;
  transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
  color:white;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-top: 20px; /* Add margin for spacing */
}

.button-container {
  margin-bottom: 20px; /* Add some space between buttons and the list */
}

.button-container button {
  margin-right: 20px; /* Add space between buttons */
}


.additionals-container {
  width: 100%; /* Make sure the container takes full width */
  max-width: 100%; /* Adjust as needed */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-container {
  margin-bottom: 20px;
}

.button-container button {
  margin-right: 10px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}
