<div>
  <h2>Edit Reservation</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Arrival Date</mat-label>
      <input matInput [matDatepicker]="arrivalPicker" formControlName="arrival">
      <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
      <mat-datepicker #arrivalPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Departure Date</mat-label>
      <input matInput [matDatepicker]="departurePicker" formControlName="departure">
      <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
      <mat-datepicker #departurePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Selected Additionals</mat-label>
      <mat-select formControlName="selectedAdditionals" multiple>
        <mat-option *ngFor="let additional of additionals" [value]="additional.id">{{ additional.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
