.reservation-cards {
  display: flex;
  flex-wrap: wrap;
}

.reservation-card {
  border: 1px solid #ccc;
  background-color: #3F826D;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
