<mat-form-field>
  <mat-label>Select User:</mat-label>
  <mat-select [(value)]="selectedUserId" (selectionChange)="onUserSelectionChange()">
    <mat-option *ngFor="let user of users" [value]="user.id">
      {{ user.username }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="selectedUserDetails">
  <h3>{{selectedUserDetails.username}}'s Reservations</h3>
  <div *ngIf="selectedUserDetails.reservations.length > 0; else noReservations">
    <div class="reservation-cards">
      <div class="reservation-card" *ngFor="let reservation of selectedUserDetails.reservations">
        <h3>{{ reservation.name }}</h3>
        <p>Arrival: {{ reservation.arrival }}</p>
        <p>Departure: {{ reservation.departure }}</p>
        <div *ngIf="reservation.additionals && reservation.additionals.length > 0">
          <p>Additional Details:</p>
          <ul>
            <li *ngFor="let additional of reservation.additionals">
              {{ additional.name }} - Price: {{ additional.price }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noReservations>
    <p>No reservations found for this user.</p>
  </ng-template>
</div>

