.space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Container for the form */
.form-container {
  max-width: 600px; /* Increased max-width for a larger form */
  margin: auto;
  padding: 40px; /* Increased padding for a bigger form */
  border: 2px solid #67708E;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Label styles */
.mat-form-field label {
  color: #67708E;
}

/* Input styles */
.mat-form-field input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 12px; /* Increased padding for inputs */
  margin-top: 10px; /* Increased margin-top for inputs */
}

/* Checkbox styles */
.mat-checkbox {
  display: block;
  margin-top: 10px;
  color: #333;
}

.mat-checkbox:checked {
  color: #67708E;
}

button[type="submit"] {
  width: 100%; /* Make the button take up full width */
  margin-top: 20px;
  padding: 12px; /* Increased padding for the button */
  background-color: transparent;
  color:black ;
  border: gray solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
}

button[type="submit"]:not([disabled]) {
  background-color: #454B5F ;
  border: none;
  transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
  color:white;

}

button[type="submit"]:not([disabled]):hover {
  background-color: #67708E;
  border: none;
  color: black;
}

