<ng-container class="container">
  <div>
    <mat-toolbar class="top-bar">
      <div class="right-half"></div>
      <div class="left-half"></div>
      <button class="app-logo-button" mat-button (click)="redirectToBoard()">Reservation System</button>
      <span class="example-spacer"></span>
      <app-menu></app-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu-icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span (click)="logout()">Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>

  <mat-drawer-container class="example-container">
    <mat-drawer-content class="main-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
